<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="/assets/css/default.css"><link type="application/atom+xml" rel="alternate" href="/feed.xml" title="default css" />
    </head>
    <body>

        <header>
            <hr class="hrtop">
        </header>

        <main>

            <div class="row">
                <div class="menubar">
                    <div class="logo">
                        <img class="logo-img" src="/assets/imgs/prrocoin88px.png" alt="logo" width="64" height="64">
                        <h1 class="logo-h">prrocoin.</h1>
                    </div>
                    <div class="menubar-item"><a href="http://prrocoin.com">inicio</a></div>
                    <div class="menubar-item"><a href="http://prrocoin.com/about">acerca</a></div>
                    <div class="menubar-item">buscar</div>
                </div>
                  
                <nav class="contactbar">
                    <div class="contactbar-item"><a href="https://www.facebook.com/prrocoin">facebook [prrocoin]</a></div>
                    <div class="contactbar-item"><a href="https://www.instagram.com/prrocoin">instagram [@prrocoin]</a></div>
                    <div class="contactbar-item"><a href="https://twitter.com/CoinPrro">twitter [@prrocoin]</a></div>
                    <div class="contactbar-item"><a href="https://www.reddit.com/user/prrocoin">reddit [u/prrocoin]</a></div>
                </nav>
            </div>
        
            <div class="content">
                <p>{{ content }}</p>
            </div>
        
        </main>

    </body>
</html>